@if(isLoading){
<div class="spinner-overlay">
  <mat-spinner></mat-spinner>
</div>
}

<app-navbar></app-navbar>
<mat-toolbar>
  <span>Listado de persona</span>
  <span class="example-spacer"></span>
  <button
    style="margin-left: 15px"
    mat-raised-button
    color="primary"
    (click)="onCrearPersona()"
  >
    Crear Persona
  </button>
</mat-toolbar>
<div class="container">
  @if(arrayPersonas.length ){

  <mat-form-field class="mat-filter" style="margin-top: 15px">
    <mat-label>Filtrar información</mat-label>
    <input
      matInput
      (keyup)="filtrarGrid($event)"
      placeholder="Ingrese datos para filtrar"
      #input
    />
  </mat-form-field>
  <div class="table-container">
    <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <mat-form-field class="mat-filter">
        <mat-label>Filtrar información</mat-label>
        <input
          matInput
          (keyup)="filtrarGrid($event)"
          placeholder="Ingrese datos para filtrar"
          #input
        />
      </mat-form-field>
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef class="mat-header-cell">
          ID
        </mat-header-cell>
        <mat-cell *matCellDef="let element" class="mat-header-cell">
          {{ element.id }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="nombreCompleto">
        <mat-header-cell *matHeaderCellDef class="mat-header-cell">
          Nombre Completo
        </mat-header-cell>
        <mat-cell *matCellDef="let element" class="mat-header-cell">
          {{ element.nombreCompleto }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="tipoIdentificacion">
        <mat-header-cell *matHeaderCellDef class="mat-header-cell">
          Tipo Identificación
        </mat-header-cell>
        <mat-cell *matCellDef="let element" class="mat-header-cell">
          {{
            element.tipoIdentificacion == "C"
              ? "Cédula"
              : element.tipoIdentificacion == "R"
              ? "Ruc"
              : "Pasaporte"
          }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="numeroIdentificacion">
        <mat-header-cell *matHeaderCellDef class="mat-header-cell">
          Número Identificación
        </mat-header-cell>
        <mat-cell *matCellDef="let element" class="mat-header-cell">
          {{ element.numeroIdentificacion }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="email">
        <mat-header-cell *matHeaderCellDef class="mat-header-cell">
          Email
        </mat-header-cell>
        <mat-cell *matCellDef="let element" class="mat-header-cell">
          {{ element.email }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="fechaCreacion">
        <mat-header-cell *matHeaderCellDef class="mat-header-cell">
          Fecha Creación
        </mat-header-cell>
        <mat-cell *matCellDef="let element" class="mat-header-cell">
          {{ dateFormatter(element.fechaCreacion) }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="acciones">
        <mat-header-cell *matHeaderCellDef class="mat-header-cell">
          Acciones
        </mat-header-cell>
        <mat-cell mat-cell *matCellDef="let element" class="mat-header-cell">
          <button
            mat-icon-button
            color="primary"
            (click)="onEditarPersona(element.id)"
          >
            <mat-icon>edit</mat-icon>
          </button>
          <button
            mat-icon-button
            color="warn"
            (click)="onEliminarPersona(element.id)"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <mat-header-row
        *matHeaderRowDef="columnasAMostrar"
        class="mat-header-cell"
      ></mat-header-row>
      <mat-row
        *matRowDef="let row; columns: columnasAMostrar"
        class="mat-header-cell"
      ></mat-row>
    </mat-table>
  </div>
  } @if(arrayPersonas.length == 0 ){
  <h3>No hay personas registradas</h3>
  }
</div>
